@font-face {
    font-family:'GothamPro';
    src: url('../font/GothamPro-Bold.woff2') format('woff2'),
        url('../font/GothamPro-Bold.woff') format('woff'),
        url('../font/GothamPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'GothamPro';
    src: url('../font/GothamPro.woff2') format('woff2'),
        url('../font/GothamPro.woff') format('woff'),
        url('../font/GothamPro.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}